.supercontent {
  text-align: center;
  font-size: 115%;
  font: Helvetica;
  color: #ff0000;
  padding-top: 90px;
}
.content {
  text-align: center;
  font-size: 105%;
  font: Helvetica;
  color: #009900;
  padding-top: 20px;

}

.content2 {
  text-align: center;
  font-size: 105%;
  font: Helvetica;
  color: #000000;
}

.contact {
  text-align: left;
  font-size: 95%;
  font: Helvetica;
  color: #000000;
}

.image {
  text-align: center;
}

.anim {
        padding-top: 25px;
        text-transform: uppercase;
        background-image: linear-gradient(
          -89deg,
          #ffc8c8 0%,
          #44107a 29%,
          #FFA500 67%,
          #9B2D30 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 3s linear infinite;
        display: inline-block;
        font-size: 25px;
        font: Helvetica;
        font-weight: bold;
        text-align: center;
      }

      @keyframes textclip {
        to {
          background-position: 200% center;
        }
      }
